<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key><string>io.github.oviron.Awake.helper</string>
    <key>BundleProgram</key><string>Contents/Library/HelperTools/AwakeHelper</string>
    <key>ProgramArguments</key><array><string>AwakeHelper</string></array>
    <key>UserName</key><string>root</string>
    <key>MachServices</key>
    <dict>
        <key>io.github.oviron.Awake.control</key><true/>
        <key>io.github.oviron.Awake.tasks</key><true/>
    </dict>
    <key>RunAtLoad</key><true/>
    <key>KeepAlive</key><dict><key>SuccessfulExit</key><false/></dict>
    <key>ThrottleInterval</key><integer>10</integer>
    <key>ExitTimeOut</key><integer>20</integer>
    <key>ProcessType</key><string>Adaptive</string>
</dict>
</plist>
